@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: silk --default, silk --prefersdark;
}

.quote {
  font-family: "Edu NSW ACT Hand Pre";
  font-optical-sizing: auto;
  font-style: normal;
}